.advantage__list {
   //tablet screen//
   @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
   }
   //desktop screen//
   @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
   }
}

.advantage__item {
   //mobile screen//
   @media screen and (max-width: 767px) {
      max-width: 450px;
      margin-bottom: 30px;

      &:last-child {
         margin-bottom: 0;
      }
   }
   //tablet screen//
   @media screen and (min-width: 768px) {
      width: 354px;
   }
   //decktop screen//
   @media screen and (min-width: 1200px) {
      width: 270px;
      margin-right: 30px;

      &:last-child {
         margin-right: 0;
      }
   }
}

.advantage__img {
   display: flex;
   align-items: center;
   justify-content: center;

   background-color: #f5f4fa;

   max-width: 450px;
   height: 120px;

   border-radius: 4px;
   margin-bottom: 30px;

   //tablet screen//
   @media screen and (min-width: 768px) {
      width: 354px;
   }
   //decktop screen//
   @media screen and (min-width: 1200px) {
      width: 270px;
   }
}

.advantage-item__title {
   margin-bottom: 10px;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   text-align: center;
   color: var(--main-color);

   //tablet, desktop screen//
   @media screen and (min-width: 768px) {
      text-align: left;
   }
}

.advantage-item__description {
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: var(--second-text-color);
}
