:root {
   --accent-color: #2196f3;
   --the-second-color: #ffffff;
   --second-text-color: #757575;
   --mine-color: #212121;

   --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   --modal-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
