.navigation {
   display: flex;
   align-items: center;
}

.logo {
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   color: var(--accent-color);
}

.navigation__logo {
   padding-top: 24px;
   padding-bottom: 25px;
   margin-right: 93px;
}

.logo--black {
   color: var(--mine-color);
}

.navigation__list {
   display: flex;
}

.navigation__list .link {
   display: block;
   padding-top: 32px;
   padding-bottom: 32px;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   color: var(--main-color);

   transition-property: color;
   transition-duration: 250ms;
   transition-timing-function: var(--transition-timing-function);

   &:hover,
   &:focus {
      color: var(--accent-color);
   }
}

/*альтернативний варіант з додатковим класом в посиланнях "menu-link" */

/*.menu-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-color);}*/

.navigtion__item {
   margin-right: 50px;

   &:last-child {
      margin-right: 0;
   }
}

.navigation__list > .navigtion__item--current {
   color: var(--accent-color);
}

.navigtion__link--current {
   position: relative;

   &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 100%;
      height: 4px;
      transform: translateX(-50%);
      background-color: var(--accent-color);
      border-radius: 2px;
   }
}
