.header__list {
   margin-left: auto;

   @media screen and (max-width: 767px) {
      display: none;
   }

   @media screen and (min-width: 1200px) {
      display: flex;
   }
}

.header__item {
   font-weight: 500;
   font-size: 12px;
   line-height: 1.16;

   letter-spacing: 0.02em;

   color: var(--second-text-color);

   @media screen and (max-width: 1199px) {
      margin-bottom: 10px;
      &:last-child {
         margin-bottom: 0;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-right: 50px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;

      &:last-child {
         margin-right: 0;
      }
   }
}

.header__link {
   display: flex;
   align-items: center;

   color: var(--second-text-color);

   transition: 250ms var(--transition-timing-function);

   &:hover,
   &:focus {
      color: var(--accent-color);
   }

   @media screen and (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
   }
}

.header__icon {
   margin-right: 10px;
   fill: currentColor;
}
