.menu-toggle {
   display: flex;
   width: 40px;
   height: 40px;
   padding: 0;

   align-items: center;
   justify-content: center;

   background: transparent;
   border: none;

   position: absolute;
   top: 10px;
   right: 15px;

   transition: 250ms var(--transition-timing-function);

   &:hover,
   &:focus {
      fill: var(--accent-color);
   }

   @media screen and (min-width: 768px) {
      display: none;
   }
}

.menu-container {
   @media screen and (max-width: 767px) {
      position: fixed;
      background-color: var(--the-second-color);

      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;

      padding: 48px 40px;
      transform: translateX(0);
      z-index: 999;
      transition: 250ms var(--transition-timing-function);
   }
   @media screen and (min-width: 768px) {
      display: none;
   }
}

.menu-container.is-open {
   @media screen and (max-width: 767px) {
      transform: translateX(-100%);
   }
}

.mobile-nav__item {
   margin-bottom: 32px;
   &:last-child {
      margin-bottom: 0;
   }
}

.mobile-nav__link {
   font-weight: 500;
   font-size: 40px;
   line-height: 1.17;
   letter-spacing: 0.02em;

   color: var(--mine-color);
}

.mobile-nav__link--current {
   color: var(--accent-color);
}

.mobile-menu__list {
   position: absolute;

   left: 40px;
   bottom: 134px;
}

.mobile-menu__social {
   display: flex;

   position: absolute;

   left: 40px;
   bottom: 48px;
}

.mobile-list__item {
   margin-bottom: 32px;

   &:last-child {
      margin-bottom: 0;
   }
}

.mobile-tel {
   font-weight: 500;
   font-size: 34px;
   line-height: 1.17;

   letter-spacing: 0.02em;

   color: var(--accent-color);
}

.mobile-mail {
   font-weight: 500;
   font-size: 24px;
   line-height: 1.16;
   letter-spacing: 0.02em;

   color: var(--second-text-color);
}

.mobile-social__item {
   padding: 1px 10px 1px;

   border-right: 1px solid rgba(33, 33, 33, 0.2);

   &:last-child {
      border-right: none;
   }
}

.mobile-social__link {
   font-weight: 500;
   font-size: 18px;
   line-height: 1.22;

   letter-spacing: 0.02em;
   color: var(--accent-color);
}
