.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.2);

   z-index: 10;

   transition: 300ms var(--transition-timing-function);
}

.backdrop.is-hidden {
   visibility: hidden;
   opacity: 0;
   pointer-events: none;
}

.backdrop.is-hidden .modal {
   transform: translate(-50%, -50%) scale(0.3);
}

.modal {
   position: absolute;
   width: 528px;
   height: 581px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(1);
   transition: transform 300ms var(--transition-timing-function);

   background: var(--the-second-color);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 4px;
}

.close-modal-btn {
   position: absolute;
   top: 8px;
   right: 8px;
   width: 30px;
   height: 30px;
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 50%;
   background-color: var(--the-second-color);
   cursor: pointer;

   display: flex;
   padding: 0;
   align-items: center;
   justify-content: center;
}

.icon-close {
   transition: var(--modal-transition);
   .close-modal-btn:hover &,
   .close-modal-btn:focus & {
      fill: var(--accent-color);
   }
}
