.wrapper {
   position: relative;
   height: 294px;
   overflow: hidden;

   @media screen and (max-width: 767px) {
      max-width: 450px;
   }
   @media screen and (min-width: 768px) {
      width: 354px;
   }
   @media screen and (min-width: 1200px) {
      width: 370px;
   }
}

.owerlay-text {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;

   font-weight: 400;
   font-size: 18px;
   line-height: 1.55;
   letter-spacing: 0.03em;

   color: var(--the-second-color);
   background-color: rgba(33, 150, 243, 0.9);

   transform: translateY(100%);
   transition-duration: 250ms;
   transition-timing-function: var(--transition-timing-function);

   @media screen and (max-width: 767px) {
      padding: 77px 24px;
      overflow-y: scroll;
   }
   @media screen and (min-width: 768px) {
      padding: 49px 24px 77px;
   }
   @media screen and (min-width: 1200px) {
      padding: 63px 24px;
   }
}
