body {
   font-family: 'Roboto', sans-serif;
}

.section {
   //mobile, tablet screen//
   padding-top: 60px;
   padding-bottom: 60px;

   //desktop screen//
   @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
   }
}

.container {
   padding-right: 15px;
   padding-left: 15px;

   margin-right: auto;
   margin-left: auto;

   //mobile screen from 480px//
   @media screen and (min-width: 480px) {
      width: 480px;
   }

   //tablet screen//
   @media screen and (min-width: 768px) {
      width: 768px;
   }

   //desktop screen//
   @media screen and (min-width: 1200px) {
      width: 1200px;
   }
}

.btn {
   font-weight: 700;
   font-size: 16px;
   line-height: 1.87;
   letter-spacing: 0.06em;
   text-align: center;

   color: var(--the-second-color);
   background: var(--accent-color);

   border-radius: 4px;
   border: transparent;

   cursor: pointer;
}

/* breakpoints:
1. 480px;
2. 768px;
3. 1200px; */
