.filter-button {
   padding-bottom: 0px;
}

.list-button {
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
}

.filter {
   padding: 6px 22px;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   line-height: 1.62;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--mine-color);
   background: #f5f4fa;

   transition: background-color 250ms var(--transition-timing-function),
      color 250ms var(--transition-timing-function),
      box-shadow 250ms var(--transition-timing-function);

   &:hover,
   &:focus {
      background-color: var(--accent-color);
      color: var(--the-second-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
         0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   }
}

.filter-btn {
   margin-right: 8px;

   &:last-child {
      margin-right: 0;
   }
}
