.employee__details {
   padding: 30px 10px;
}

.employee__name {
   margin-bottom: 10px;

   font-weight: 500;
   font-size: 16px;
   line-height: 1.18;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--mine-color);
}

.employee__position {
   margin-bottom: 16px;

   font-size: 16px;
   line-height: 1.18;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--second-text-color);
}
